.articles
    @extend .smoothAppeared
.article
    border-radius: 0
    margin-top: 20px
    color: black

    &_added
        margin-top: -15px
        color: white
        background-color: rgba(0, 0, 0, 0.7)
        &:nth-child(2)
            margin-top: 0
        & .article__readMore
            color: gold
        & .text-muted
            color: white !important
    &__readMore
        font-weight: 500
        color: #006b00
        &:hover
            text-decoration: none
            transition: .1s
    &__title
        font-size: 25px
        text-transform: uppercase
        text-align: center
    &__btn
        color: darkgray
        cursor: pointer
        transition: .1s
        &_add:hover
            color: forestgreen
        &_delete:hover
            color: #ff0000
    &__imgContainer
        height: 270px
        display: flex
        align-items: center
        overflow: hidden

    &__img
        width: 100%
        min-height: 270px
        border-radius: 0
        opacity: 0.8
        -moz-transition: all 2s ease-out //для Firefox
        -o-transition: all 2s ease-out //для Opera
        -webkit-transition: all 2s ease-out //для Chrome, Android Browser, Safari
    &:hover img
        -moz-transform: scale(1.1)
        -o-transform: scale(1.1)
        -webkit-transform: scale(1.1)
        opacity: 1


    &__text
        min-height: 120px
        font-size: 13px
        text-align: justify
    &__date
        align-self: flex-end
        text-align: center