.article
    margin-top: 20px
    color: black
    &__title
        text-transform: uppercase
    &__imgContainer
        display: flex
        align-items: center
    &__img
        padding: 10px
        width: 100%
        border-radius: 0
    &__text
        font-size: 13px
        text-align: justify