.formWrapper
    height: 100%
    width: 100%
    color: black
    background-color: black
    background-image: url(../assets/i/auth/01.jpg)
    transition: 1s linear
.formContainer
    height: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: center
.formRow
    min-width: 50%
    padding: 10px
    border-radius: 15px
    background-color: white
.backLink
    color: darkgreen
    &:hover
        color: green
        transition: .2s linears
.mainBtn
    min-width: 35%
.secondaryBtn
    width: 100%

#secretCodeInput
    display: none